numpy
pyloudnorm
openai
soundfile
ipython
librosa
matplotlib
noisereduce
ipywidgets
torch_pitch_shift
huggingface_hub
progressbar
unidecode
phonemizer
einops
torchvision
torchlibrosa
transformers
ftfy
pandas
timm
ltfatpy
tifresi
pyfar